* {
    box-sizing: border-box;
  }
body {
    position: relative;
    margin: 0px 0px;
    width: 100vw;
    background-color: #1d2c8c;
}
img {
  width: 70%;
}
section {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
}
#one {
  grid-column: 2/3;
  grid-row: 1/2;
}
#two {
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
}
#three {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 80px;
}
#four {
  grid-column: 1/2;
  grid-row: 3/4;
}
#dialog-anim {
  position: relative;
  align-content: center;
  justify-content: center;
}
#dialog-anim .d {
  position: absolute;
  opacity: 0; 
  transition: 500ms;
}

#dialog-anim .d1 {
  top: -5px;
  left: 10px;
  transition-delay: 500ms;
}

#dialog-anim .d2 {
  top: -15px;
  left: -15px;
  transition-delay: 500ms;
}
#dialog-anim .d3 {
  top: -5px;
  left: -2px;
  transition-delay: 1000ms;
}
#dialog-anim .d4 {
  top: -15px;
  left: -10px;
  transition-delay: 1500ms;
}
#dialog-anim .d5 {
  top: -10px;
  right: 430px;
  transition-delay: 1000ms;
}
#dialog-anim .d6 {
  top: -20px;
  right: 435px;
  transition-delay: 2500ms;
}
#dialog-anim .d7 {
  top: 220px;
  right: -110px;
  transition-delay: 3000ms;
}

#dialog-anim .fadeIn {
  opacity: 1;
}