* {
    box-sizing: border-box;
  }
body {
    position: relative;
    margin: 0px 0px;
    width: 100vw;
    background-color: #1d2c8c;
}
  section {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
img {
    width: 50%
}
