* {
    box-sizing: border-box;
  }
body {
    position: relative;
    margin: 0px 0px;
    width: 100vw;
    align-items: center;
    justify-content: center; 
    background-color: #1d2c8c;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  width: 50vw;
}
section {
  width: 100vw;
  height: 100vh;
  background-color: #1d2c8c;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
}
#one {
  grid-column: 2/3;
  grid-row: 1/2;
}
#two {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #182565;
}
#two img {
  width: 95%;
}
#three {
  grid-column: 1/2;
  grid-row: 2/3;
}
#four {
  grid-column: 1/2;
  grid-row: 3/4;
}

#five img {
  width: 100%;
}

.fade-in-image { 
  animation: fadeIn 3s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#dialog-anim {
  position: relative;
  border: 1px solid red;
}
#dialog-anim .d {
  position: absolute;
  opacity: 0; 
  transition: 500ms;
}

#dialog-anim .d1 {
  top: -5px;
  left: 10px;
  transition-delay: 500ms;
}

#dialog-anim .d2 {
  top: -15px;
  left: -15px;
  transition-delay: 500ms;
}
#dialog-anim .d3 {
  top: -5px;
  left: -2px;
  transition-delay: 1000ms;
}
#dialog-anim .d4 {
  top: -15px;
  left: -5px;
  transition-delay: 1500ms;
}
#dialog-anim .d5 {
  top: -4px;
  right: 2px;
  transition-delay: 1000ms;
}
#dialog-anim .d6 {
  top: -14px;
  right: 2px;
  transition-delay: 2500ms;
}

#dialog-anim .fadeIn {
  opacity: 1;
}